<!-- games/templates/games/game_list/_games_grid.html -->
<div class="row" id="games-grid-row">
    {% for game_item in games %}
        {% if show_similarity %}
            <!-- Режим похожих игр -->
            {% if game_item.cached_card %}
                {{ game_item.cached_card|safe }}
            {% else %}
                {% with game=game_item.game %}
                    {% if game_item.similarity %}
                        {% include 'games/partials/_game_card.html' with game=game similarity_percent=game_item.similarity show_similarity=True source_game=source_game page_number=game_item.page_number|default:current_page|default:1 game_index=game_item.game_index|default:forloop.counter0 %}
                    {% else %}
                        {% include 'games/partials/_game_card.html' with game=game show_similarity=True source_game=source_game page_number=game_item.page_number|default:current_page|default:1 game_index=game_item.game_index|default:forloop.counter0 %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% else %}
            <!-- Обычный режим -->
            {% if game_item.cached_card %}
                {{ game_item.cached_card|safe }}
            {% else %}
                {% include 'games/partials/_game_card.html' with game=game_item page_number=game_item.page_number|default:current_page|default:1 game_index=game_item.game_index|default:forloop.counter0 %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>