# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
/igdb_site/games_by_game_types/
/igdb_site/cache/
/igdb_site/cache/
/igdb_site/auto_offset_log.json
/igdb_site/logs/stats_repeat1_20251215_174852.json
/igdb_site/logs/stats_repeat1_20251215_175342.json
/igdb_site/logs/stats_repeat1_20251215_175358.json
/igdb_site/logs/stats_repeat1_20251215_175457.json
/igdb_site/logs/stats_repeat1_20251215_175534.json
/igdb_site/logs/stats_repeat1_20251215_180326.json
/igdb_site/logs/stats_repeat1_20251215_180336.json
/igdb_site/logs/stats_repeat1_20251215_180349.json
/igdb_site/logs/stats_repeat1_20251215_181835.json
/igdb_site/logs/stats_repeat1_20251215_182051.json
/igdb_site/logs/stats_repeat1_20251215_182238.json
/igdb_site/logs/stats_repeat1_20251215_182647.json
/igdb_site/logs/stats_repeat1_20251215_183205.json
/igdb_site/stats/api_stats.db
/igdb_site/logs/stats_repeat1_20251215_184054.json
/igdb_site/logs/stats_repeat1_20251215_184206.json
/igdb_site/logs/stats_repeat1_20251215_185732.json
/igdb_site/logs/stats_repeat1_20251215_185817.json
/igdb_site/logs/stats_repeat1_20251215_185833.json
/igdb_site/logs/stats_repeat1_20251215_191505.json
/igdb_site/logs/stats_repeat1_20251215_191813.json
/igdb_site/logs/stats_repeat1_20251215_192734.json
/igdb_site/logs/stats_repeat1_20251215_193019.json
/igdb_site/logs/stats_repeat1_20251215_194103.json
/igdb_site/logs/stats_repeat1_20251215_194922.json
/igdb_site/logs/stats_repeat1_20251216_012248.json
/igdb_site/logs/stats_repeat1_20251216_012711.json
/igdb_site/logs/stats_repeat1_20251216_012948.json
/igdb_site/logs/stats_repeat1_20251216_013047.json
/git_compare_backup_20251216_220826.txt
/git_compare_backup_20251216_220903.txt
/git_compare_backup_20251216_221334.txt
/git_compare_backup_20251216_221352.txt
/igdb_site/результаты.txt
/igdb_site/last_offset.json
/igdb_site/games/migrations/0013_alter_company_options_alter_company_logo_igdb_id_and_more.py
/igdb_site/результаты_state.json
/igdb_site/результаты_state_criteria.json
/igdb_site/результаты_state_keywords.json
/igdb_site/logs/failed_wiki_import_20251219_163432.csv
/igdb_site/logs/failed_wiki_import_20251219_164811.csv
/igdb_site/games/migrations/0014_game_wiki_description.py
/igdb_site/games/migrations/0015_remove_game_games_game_summary_2725bc_idx_and_more.py
/igdb_site/logs/error_details_20251221_013338.json
/igdb_site/logs/error_details_20251221_013705.json
/igdb_site/logs/error_details_20251221_013728.json
/igdb_site/logs/error_details_20251221_014548.json
/igdb_site/logs/error_details_20251221_015107.json
/igdb_site/logs/error_details_20251221_015528.json
/igdb_site/logs/error_details_20251221_020418.json
/igdb_site/logs/error_details_20251221_020939.json
/igdb_site/logs/error_details_20251221_021537.json
/igdb_site/failed_wiki_games.csv
/igdb_site/results/keywords_20251223_021252.txt
/igdb_site/results/keywords_20251223_021603.txt
/igdb_site/results/keywords_20251223_022927.txt
/igdb_site/results/keywords_20251223_032521.txt
/igdb_site/results/state_criteria.json
/igdb_site/results/state_keywords.json
/igdb_site/games/migrations/0016_alter_genre_options_alter_keyword_options_and_more.py
/igdb_site/games/migrations/0017_create_performance_indexes.py
/igdb_site/backup.json
/igdb_site/backup.json[citation
/igdb_site/db.sqlite3.backup_migration
/igdb_site/backup.json[citation
/igdb_site/backup.json[citation
