{% extends 'base.html' %}
{% load static %}
{% load game_tags %}
{% load platform_icons %}

{% block title %}{{ game.name }} - GamesPeek{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
        <!-- Хедер с основной информацией -->
        <div class="row mb-4">
            <div class="col-12">
                {% include 'games/game_detail_parts/header.html' %}
            </div>
        </div>

        <!-- Табы для основного контента -->
        <div class="game-tabs">
            {% include 'games/game_detail_parts/tabs.html' %}
        </div>
    </div>

    <!-- Подключение Fancybox для галереи -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
{% endblock %}

{% block extra_js %}
    <!-- Подключение скриптов для страницы деталей игры -->
    <script src="{% static 'games/js/game_detail_scripts.js' %}"></script>
{% endblock %}